@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html{
  display: block;
  margin: 0;
  width: 800px;
  height: 800px;
}

body{
  z-index: 500;
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 10% 80% 10%;
  margin: 0;
  width: 800px;
  height: 800px;
  overflow: hidden;
}

.header{
  grid-column: 1/4;
  grid-row: 1;
  margin:0;
  border: solid 1px black;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.content{
  grid-column: 1/4;
  grid-row: 2;
}

.footer{
  grid-column: 1/4;
  grid-row: 3;
}

/* .search {
  width: 100%;
  position: relative;
  display: flex;
} */

.upload{
  border-radius: 10%;
  height: 100%;
  width : 90%;
  display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: rgba(0,0,0,0);
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.upload-wrap{
  display: inline-block;
  position: relative;
  grid-column: 3/4;
  border-left: solid 1px grey;
}

.search{
  width: 99%;
  position: relative;
  display: flex;
  float: left;
  height: 100%;
}
.search > input{
  width: 100%;
  background: none;
  border: none
}

/*Resize the wrap to see the search bar change!*/
.search-wrap{
  margin: 0;
  display: inline-block;
  grid-column: 1/3;
  position: relative;
}

.upload-popup{
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background: grey;
  filter: blur(1000);
  z-index: 1000;
  align-items: center;
}

.upload-input{
  display: block;
  position: absolute;
  top: 50%;
  left: 60%;
  height: 30%;
  width: 30%;
  margin: -15% 0 0 -25%;
}

.close{
  position: fixed;
  right: 0;
  top:0;
}

.show-alert{
  display: block;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border: solid 1px blue;
}

.title{
  display: inline-block;
  width: 50%;
  margin: 0;
  float: left;
  height: 45px;
}

.meta{
  border: solid 1px grey;
  display: inline-block;
  width: 7%;
  margin: 0;
  float: right;
  height: 45px;
}

.row:first-of-type{
  display: none;
}

a{
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
