<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/communicate.js"></script>
</head>
<body id="body">
  <div class="header" >
    <div class="wrap">
      <div class="search">
        <input type="text" class="searchTerm" placeholder="What are you looking for?">
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="content">

  </div>
  <div class="footer" >
    <div class="meta-one" >
    </div>
    <div class="meta-two" >
    </div>
    <div class="meta-three" >
    </div>
  </div>
</body>
</html>
